//reset
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-left: 295px;
  height: 100vh;
  background-image: url(../../img/bg1.png);
  text-align: center;
}
a{
  color: inherit;
  text-decoration: none;
  display: block;
}
h1{
  margin-bottom: 50px;
}
ul li{
  list-style-type: none;
}
.btn{
  background: rgba(240, 137, 49, 1);
  background: -moz-linear-gradient(left, rgba(240, 137, 49, 1) 0%, rgba(240, 137, 50, 1) 15%, rgba(241, 146, 54, 1) 51%, rgba(242, 150, 56, 1) 71%, rgba(243, 155, 59, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240, 137, 49, 1)), color-stop(15%, rgba(240, 137, 50, 1)), color-stop(51%, rgba(241, 146, 54, 1)), color-stop(71%, rgba(242, 150, 56, 1)), color-stop(100%, rgba(243, 155, 59, 1)));
  background: -webkit-linear-gradient(left, rgba(240, 137, 49, 1) 0%, rgba(240, 137, 50, 1) 15%, rgba(241, 146, 54, 1) 51%, rgba(242, 150, 56, 1) 71%, rgba(243, 155, 59, 1) 100%);
  background: -o-linear-gradient(left, rgba(240, 137, 49, 1) 0%, rgba(240, 137, 50, 1) 15%, rgba(241, 146, 54, 1) 51%, rgba(242, 150, 56, 1) 71%, rgba(243, 155, 59, 1) 100%);
  background: -ms-linear-gradient(left, rgba(240, 137, 49, 1) 0%, rgba(240, 137, 50, 1) 15%, rgba(241, 146, 54, 1) 51%, rgba(242, 150, 56, 1) 71%, rgba(243, 155, 59, 1) 100%);
  background: linear-gradient(to right, rgba(240, 137, 49, 1) 0%, rgba(240, 137, 50, 1) 15%, rgba(241, 146, 54, 1) 51%, rgba(242, 150, 56, 1) 71%, rgba(243, 155, 59, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f08931', endColorstr='#f39b3b', GradientType=1);
  border: none;
  width: 174px;
  height: 35px;
  box-shadow: inset 0 -3px 0 rgba(165, 64, 9, 0.5);
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
}
